{% load static %}
{% block footer %}
<div class="up">
    <p>Neos Haber sitesinde yayınlanan yazı, haber, video ve fotoğrafların her türlü hakkı Neos Gazetecilik A.Ş.’ye aittir. İzin alınmadan, kaynak gösterilerek dahi iktibas edilemez.</p>
    <div class="telefon">
        <a href="tel:0500000000"><img src="{% static "img/telefon.png" %}" alt="telefon_icon"></a>
        <p>050 000 00 00</p>
    </div>
</div>
<hr>
<div class="down">
    <div class="hakkimizda">
        <h3>Hakkımızda</h3>
        <hr>
        <p>Neos Haber 2009 da İzmir de Kuruldu Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non delectus aliquam in quibusdam magni, velit corporis? A est sint voluptatem! </p>
    </div>
    <div class="info">
        <h3>İletişim</h3>
        <hr>
        <div class="konum" >
            <a href="https://www.google.com.tr/maps/@38.801257,30.5411654,13z?hl=tr"><img src="{% static "img/konum.png" %}" alt="konum"></a>
            <div class="yazi">
                <p>Hürriyet Bulvarı No:11</p>
            </div>
        </div>
        </div>
    <div class="sosyal_medya">
        <h3>Bizi Takip Edin</h3>
        <hr>
        <div class="sosyal" >
            <a href="#"><img src="{% static "img/facebook.svg" %}" alt="facebook"></a>
            <a href="#"><img src="{% static "img/instagram.svg" %}" alt="instagram"></a>
            <a href="#"><img src="{% static "img/twitter.svg" %}" alt="twitter"></a>
        </div>
    </div>
</div>
{% endblock footer %}