<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--! Navbar Start  -->
    <nav class="navbar">
        <div class="left">
            <a href="index.html"><img src="img/logo.jpg" alt="navbar_logo"></a>
        </div>

        <div class="right">
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><a href="haberler.html">Haberler</a></li>
            </ul>
        </div>
        <div class="kayit_container">
            <div class="kayit">
                <ul>
                    <li><a href="kayit_ol.html">Kayıt Ol</a></li>
                    <li><a href="giris_yap.html">Giriş Yap</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--! Navbar End -->
    <!-- ! Section Start -->
    <section class="kayit_formu">
        <h1>KAYIT OL</h1>
        <input type="text" id="kayit_kullanici_adi" name="kullanici_adi" placeholder="Kullanıcı Adı giriniz"> <br>
        <input type="email" name="email_adresi" id="kayit_email" placeholder="Email giriniz"> <br>
        <input type="password" name="sifre" id="kayit_sifre" placeholder="Şifrenizi giriniz"> <br>
        <input type="submit"  id="kayit_ol" value="Kayıt Ol" >
    </section>

    <!--! Footer Start -->

    <footer>
        <div class="up">
            <p>Neos Haber sitesinde yayınlanan yazı, haber, video ve fotoğrafların her türlü hakkı Neos Gazetecilik A.Ş.’ye aittir. İzin alınmadan, kaynak gösterilerek dahi iktibas edilemez.</p>
            <div class="telefon">
                <a href="tel:0500000000"><img src="img/telefon.png" alt="telefon_icon"></a>
                <p>050 000 00 00</p>
            </div>
        </div>
        <hr>
        <div class="down">
            <div class="hakkimizda">
                <h3>Hakkımızda</h3>
                <hr>
                <p>Neos Haber 2009 da İzmir de Kuruldu Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non delectus aliquam in quibusdam magni, velit corporis? A est sint voluptatem! </p>
            </div>
            <div class="info">
                <h3>İletişim</h3>
                <hr>
                <div class="konum" >
                    <a href="https://www.google.com.tr/maps/@38.801257,30.5411654,13z?hl=tr"><img src="img/konum.png" alt="konum"></a>
                    <div class="yazi">
                        <p>Hürriyet Bulvarı No:11</p>
                    </div>
                </div>
                </div>
            <div class="sosyal_medya">
                <h3>Bizi Takip Edin</h3>
                <hr>
                <div class="sosyal" >
                    <a href="#"><img src="img/facebook.svg" alt="facebook"></a>
                    <a href="#"><img src="img/instagram.svg" alt="instagram"></a>
                    <a href="#"><img src="img/twitter.svg" alt="twitter"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ! Footer End -->

</body>
</html>